@import 'config';

#gallery {
	margin: 1rem 0;
	height: 50vh;
	width: auto;

	#social-img1 {
		background: linear-gradient(rgba(56, 56, 56, 0.61), rgba(73, 73, 73, 0.4)), url(/public/images/social-img1.jpg);
		display: inline-block;
		height: 50vh;
		width: 100%;
		background-size: cover;
		background-position: center;
		.title {
			color: #eee;
			text-align: center;
			font-size: 2rem;
			margin: 8rem auto;
			@media only screen and (min-width: 980px) {
				font-size: 3rem;
			}
		}
	}
}
