@import 'config';

nav {
	background: #eee;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 1rem 3rem 2rem;
	height: 3vh;
	border-bottom: 1px solid #eee;

	#brand {
		font-family: 'Pacifico', cursive;
		color: $secondary-color;
		font-size: 1.4rem;
	}
}

a {
	text-decoration: none;
	color: $secondary-color;
}

.menu-item {
	margin: 0 10px;
}

.menu-desktop {
	position: absolute;
	display: flex;
	flex-direction: row;
	list-style: none;

	right: 10%;

	visibility: hidden;

	@media only screen and (min-width: 980px) {
		visibility: visible;
	}
}
.menu-btn {
	position: absolute;
	z-index: 3;
	right: 35px;
	top: 25px;

	cursor: pointer;
	@include easeOut;

	@media only screen and (min-width: 980px) {
		visibility: hidden;
	}

	.btn-line {
		width: 28px;
		height: 2.5px;
		margin: 0 0 5px 0;
		background: $primary-color;
		@include easeOut;
	}

	// Rotate Into X With Menu Lines
	&.close {
		transform: rotate(180deg);

		.btn-line {
			// Line 1 - Rotate
			&:nth-child(1) {
				transform: rotate(55deg) translate(5px, 5px);
			}

			// Line 2 - Hide
			&:nth-child(2) {
				opacity: 0;
			}

			// Line 3 - Rotate
			&:nth-child(3) {
				transform: rotate(-50deg) translate(8px, -4px);
			}
		}
	}
}

.nav-item {
	visibility: hidden;
	transform: translate3d(600px, 0, 0);
	@include easeOut;

	&.show {
		// Slide in from right
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}

	&.current > a {
		color: purple;
	}
}
