@import 'config';
@import 'nav';
@import 'header';
@import 'about';
@import 'two';
@import 'gallery';

html {
	overflow-x: hidden;
	background: $third-color;
}
body {
	font-family: 'Josefin Sans', sans-serif;
}
