@import 'config';
.body {
	scroll-snap-align: start;
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

#about {
	background: #eee;
	position: relative;
	padding: 3rem 0;
	.right {
		padding: 3rem 15%;
		width: 65%;
		h3 {
			font-size: 36px;
			color: rgb(27, 27, 27);
			margin: 0;
			.brand-text {
				color: $primary-color;
			}
		}
		p {
			color: rgb(146, 143, 143);
			display: inline-block;
		}
	}
	.food-content {
		display: flex;
		.food-container {
			width: 100%;
			display: flex;
			padding: 0 10%;
			flex-flow: wrap;
			.food {
				margin: 10px;
				width: 300px;
				margin-bottom: 3rem;
				p {
					color: grey;
					font-size: 13px;
				}
				.food-img1 {
					background: url(../imagecompressor/food-photo-min.jpg);
					width: 300px;
					height: 300px;
					background-size: cover;
					background-position: center;
				}
			}
		}
	}
}

.three {
	background: #eee;
	height: 100%;
	width: 100%;
	.drinks-container {
		display: flex;
		flex-flow: wrap;
		padding: 3rem 10%;
		.drinks {
			margin: 10px;
			height: 100%;
			width: 300px;
			.drink-img1 {
				background: url(../imagecompressor/food-photo4-min.jpg);
				height: 300px;
				width: 300px;
				background-size: cover;
				background-position: center;
			}
		}
	}
}

.booking {
	height: 100%;
	background: url(../imagecompressor/booking-img-min.jpg);
	background-position: center;
	background-size: cover;
	.container-booking {
		padding: 3rem 10%;
		.row {
			text-align: center;
			color: #eee;
			h3 {
				font-size: 2rem;
			}
			span {
				color: $primary-color;
			}
			p {
				font-weight: 100;
			}
		}
		form {
			display: flex;
			flex-direction: column;
			input[type="text"] {
				margin: 10px;
				padding: 10px;
				border-radius: 5px;
			}
			input[type="submit"] {
				margin: 10px;
			}
		}
	}
}

.button {
	cursor: pointer;
	padding: 8px;
	background-color: $primary-color;
	border-radius: 10px;
	color: #eee;
	font-size: 12px;
	border: none;
}

[data-scroll] {
	transition: all 2s;
}

[data-scroll="in"] {
	opacity: 1;
	transform: translateX(0);
}

[data-scroll="out"] {
	opacity: 0;
	transform: translateX(-200px);
}
