header {
	position: relative;
	height: 100vh;
	border-bottom: #eee;
	overflow: hidden;
	width: 100vw;
	padding: 0;
	margin: 0;
	scroll-snap-align: start;
}

.header-img {
	background: url(../images/head-img.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	width: 100%;
	z-index: -1;
}

.container {
	padding: 6rem 0rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
}

#header-text,
#header-second-text,
#phone-number {
	display: flex;
	justify-content: center;
	color: $secondary-color;
}

hr {
	width: 30%;
	justify-content: center;
}

#button {
	cursor: pointer;
	display: flex;
	margin: 0 auto;
	width: 8rem;
	border-radius: 20px;
	border: 1px solid $primary-color;
	color: white;
	padding: 15px;
	background: $primary-color;
	justify-content: center;
}

#header-text {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2.1rem;
	@media only screen and (min-width: 980px) {
		font-size: 3rem;
	}
}

#header-second-text {
	font-size: 1.2rem;
	font-weight: 100;
	@media only screen and (min-width: 980px) {
		font-size: 1.6rem;
	}
}

#phone-number {
	font-size: 1.4rem;
	@media only screen and (min-width: 980px) {
		font-size: 1.8rem;
	}
}
