.two {
	background: url(../imagecompressor/section-two-min.jpg);
	background-size: cover;
	background-position: center;
	height: auto;

	.container-two {
		display: flex;
		flex-direction: column;
		width: 65%;
		padding: 3rem 10%;
		color: #eee;
		justify-content: center;

		h1 {
			font-size: 36px;
		}
		p {
			font-size: 18px;
		}
		a {
			cursor: pointer;
			color: white;
			margin-top: 1rem;
			width: 150px;
			text-align: center;
			&.btn {
				padding: 15px;
				background: $primary-color;
				border-radius: 30px;
			}
		}
	}

	@media only screen and (min-width: 980px) {
		flex-direction: row;
	}

	[data-scroll] {
		transition: all 2s;
	}
	[data-scroll="in"] {
		opacity: 1;
		transform: translateX(0);
	}
	[data-scroll="out"] {
		opacity: 0;
		transform: translateX(-200px);
	}
}
