nav {
  background: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 15%;
  border-bottom: 1px solid #eee; }
  nav #brand {
    font-family: 'Pacifico', cursive;
    color: #fa983a;
    font-size: 1.4rem; }

a {
  text-decoration: none;
  color: #fa983a; }

.menu-mobile {
  height: 100vh;
  width: 100%; }

.menu-item {
  margin: 0 10px; }

.menu-desktop {
  position: absolute;
  display: flex;
  flex-direction: row;
  list-style: none;
  right: 10%;
  visibility: hidden; }
  @media only screen and (min-width: 980px) {
    .menu-desktop {
      visibility: visible; } }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 25px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  @media only screen and (min-width: 980px) {
    .menu-btn {
      visibility: hidden; } }
  .menu-btn .btn-line {
    width: 28px;
    height: 2.5px;
    margin: 0 0 5px 0;
    background: #fa983a;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(55deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-50deg) translate(8px, -4px); }

.nav-item {
  visibility: hidden;
  transform: translate3d(600px, 0, 0);
  list-style: none;
  background: #eee;
  width: 100px;
  height: 75px;
  transition: all 0.5s ease-out; }
  .nav-item.show {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    width: 100%; }
  .nav-item.current > a {
    color: purple; }
  .nav-item:hover > a {
    color: orange; }

header {
  position: relative;
  height: 80vh;
  border-bottom: #eee;
  overflow: hidden;
  padding: 0;
  margin: 0;
  scroll-snap-align: start; }

.header-img {
  background: url(../images/head-img.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1; }

.container {
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 3rem 15%;
  margin-top: 4rem;
  width: 90%; }

#header-text,
#header-second-text,
#phone-number {
  display: flex;
  justify-content: left;
  color: #eee; }

a {
  cursor: pointer; }

#button {
  cursor: pointer;
  display: flex;
  width: 8rem;
  border-radius: 20px;
  border: 1px solid #fa983a;
  color: white;
  padding: 15px;
  background: #fa983a;
  justify-content: center; }

#header-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.1rem; }
  @media only screen and (min-width: 980px) {
    #header-text {
      font-size: 3rem; } }

#header-second-text {
  font-size: 1.2rem;
  font-weight: 100; }
  @media only screen and (min-width: 980px) {
    #header-second-text {
      font-size: 1.6rem; } }

#phone-number {
  font-size: 1.4rem; }
  @media only screen and (min-width: 980px) {
    #phone-number {
      font-size: 1.8rem; } }

.body {
  scroll-snap-align: start;
  position: relative;
  width: 100%;
  overflow-x: hidden; }

#about {
  background: #eee;
  position: relative;
  padding: 3rem 0; }
  #about .right {
    padding: 3rem 15%;
    width: 65%; }
    #about .right h3 {
      font-size: 36px;
      color: #1b1b1b;
      margin: 0; }
      #about .right h3 .brand-text {
        color: #fa983a; }
    #about .right p {
      color: #928f8f;
      display: inline-block; }
  #about .food-content {
    display: flex; }
    #about .food-content .food-container {
      width: 100%;
      display: flex;
      padding: 0 10%;
      flex-flow: wrap; }
      #about .food-content .food-container .food {
        margin: 10px;
        width: 300px;
        margin-bottom: 3rem; }
        #about .food-content .food-container .food p {
          color: grey;
          font-size: 13px; }
        #about .food-content .food-container .food .food-img1 {
          background: url(../images/food-photo.jpg);
          width: 300px;
          height: 300px;
          background-size: cover;
          background-position: center; }

.three {
  background: #eee;
  height: 100%;
  width: 100%; }
  .three .drinks-container {
    display: flex;
    flex-flow: wrap;
    padding: 3rem 10%; }
    .three .drinks-container .drinks {
      margin: 10px;
      height: 100%;
      width: 300px; }
      .three .drinks-container .drinks .drink-img1 {
        background: url(../images/food-photo4.jpg);
        height: 300px;
        width: 300px;
        background-size: cover;
        background-position: center; }

.booking {
  height: 100%;
  background: url(../images/booking-img.jpg);
  background-position: center;
  background-size: cover; }
  .booking .container-booking {
    padding: 3rem 10%; }
    .booking .container-booking .row {
      text-align: center;
      color: #eee; }
      .booking .container-booking .row h3 {
        font-size: 2rem; }
      .booking .container-booking .row span {
        color: #fa983a; }
      .booking .container-booking .row p {
        font-weight: 100; }
    .booking .container-booking form {
      display: flex;
      flex-direction: column; }
      .booking .container-booking form input[type="text"] {
        margin: 10px;
        padding: 10px;
        border-radius: 5px; }
      .booking .container-booking form input[type="submit"] {
        margin: 10px; }

.button {
  cursor: pointer;
  padding: 8px;
  background-color: #fa983a;
  border-radius: 10px;
  color: #eee;
  font-size: 12px;
  border: none; }

[data-scroll] {
  transition: all 2s; }

[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0); }

[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-200px); }

.two {
  background: url(../images/section-two.jpg);
  background-size: cover;
  background-position: center;
  height: auto; }
  .two .container-two {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 3rem 10%;
    color: #eee;
    justify-content: center; }
    .two .container-two h1 {
      font-size: 36px; }
    .two .container-two p {
      font-size: 18px; }
    .two .container-two a {
      cursor: pointer;
      color: white;
      margin-top: 1rem;
      width: 150px;
      text-align: center; }
      .two .container-two a.btn {
        padding: 15px;
        background: #fa983a;
        border-radius: 30px; }
  @media only screen and (min-width: 980px) {
    .two {
      flex-direction: row; } }
  .two [data-scroll] {
    transition: all 2s; }
  .two [data-scroll="in"] {
    opacity: 1;
    transform: translateX(0); }
  .two [data-scroll="out"] {
    opacity: 0;
    transform: translateX(-200px); }

#gallery {
  height: 50vh;
  width: auto; }
  #gallery #social-img1 {
    background: linear-gradient(rgba(56, 56, 56, 0.61), rgba(73, 73, 73, 0.4)), url(../images/social-img1.jpg);
    display: inline-block;
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center; }
    #gallery #social-img1 .title {
      color: #eee;
      text-align: center;
      font-size: 2rem;
      margin: 8rem auto; }
      @media only screen and (min-width: 980px) {
        #gallery #social-img1 .title {
          font-size: 3rem; } }
  #gallery [data-scroll] {
    transition: all 2s; }
  #gallery [data-scroll="in"] {
    opacity: 1;
    transform: translateX(0); }
  #gallery [data-scroll="out"] {
    opacity: 0;
    transform: translateX(-200px); }

html {
  overflow-x: hidden;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Josefin Sans', sans-serif;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  padding: 0;
  margin: 0; }

footer {
  background: #131230;
  color: #eee; }
  footer .footer-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-between; }
    footer .footer-container h2 {
      font-size: 1.5rem; }
    footer .footer-container i.fab {
      font-size: 2em;
      margin: 5px;
      color: #eee; }

.bottom {
  background: #0d0d27; }
  .bottom .copywrite {
    padding: 1rem;
    color: #eee;
    text-align: center; }

[data-scroll] {
  transition: all 2s; }

[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0); }

[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-200px); }
